In [ ]:
import sqlite3
import pandas as pd

In [ ]:
df = pd.read_csv('/content/clean_data.csv')
print(df)

      order_id    order_status             customer  order_date  \
0            3  Order Finished  Muhammed Mac Intyre  2010-10-13
1          293  Order Finished         Barry French  2012-10-01
2          483  Order Finished        Clay Rozendal  2011-07-10
3          515  Order Finished       Carlos Soltero  2010-08-28
4          613  Order Finished         Carl Jackson  2011-06-17
...        ...             ...                  ...         ...
5494     47360  Order Finished         Philip Brown  2010-10-08
5495     52706  Order Finished           Paul Prost  2012-07-09
5496     54279  Order Finished      Lisa De Cherney  2011-07-30
5497     55558  Order Finished         Philip Brown  2010-08-09
5498     56581  Order Finished      Lisa De Cherney  2009-02-08

      order_quantity     sales  discount  discount_value product_category  \
0                  6    523080      0.04           20923  Office Supplies
1                 49  20246040      0.07         1417223  Office Supplies
2                 30   9931519      0.08          794522       Technology
3                 19    788540      0.08           63083  Office Supplies
4                 12    187080      0.03            5612  Office Supplies
...              ...       ...       ...             ...              ...
5494              25   4401280      0.05          220064        Furniture
5495              34   2083320      0.02           41666  Office Supplies
5496              41  20142180      0.10         2014218       Technology
5497               8   2588080      0.05          129404        Furniture
5498              20   4052020      0.10          405202        Furniture

              product_sub_category
0           Storage & Organization
1                       Appliances
2       Telephones & Communication
3                       Appliances
4     Binders & Binder Accessories
...                            ...
5494            Chairs & Chairmats
5495  Binders & Binder Accessories
5496               Office Machines
5497                     Bookcases
5498            Office Furnishings

[5499 rows x 10 columns]

In [ ]:
connection = sqlite3.connect('cleandata.db')
cursor = connection.cursor()

In [ ]:
cursor.execute("CREATE TABLE IF NOT EXISTS data_table ('order_id' INT, 'order_status' TEXT, 'customer' TEXT, 'order_date' TEXT, 'order_quantity' INT, 'sales' INT, 'discount' REAL, 'discount_value' INT, 'product_category' TEXT, 'product_sub_category' TEXT)")

In [ ]:
data_rows = df.values.tolist()
data_to_add = [(d_row[0], d_row[1], d_row[2], d_row[3], d_row[4], d_row[5], d_row[6], d_row[7], d_row[8], d_row[9]) for d_row in data_rows]

In [ ]:
cursor.executemany("INSERT INTO data_table VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", data_to_add)

In [ ]:
connection.commit()
connection.close()